<!DOCTYPE html>

<html>

	<head>

		<title><%= title %></title>

		<link rel="stylesheet" type="text/css" href="css/style.css">

	</head>

	<body>

	    <header ng-include="'partials/nav.html'"></header>

		<h1><%= title %></h1>
		<br />

		<% if ( (provider != 'facebook') && user ) { %>
			<h2>Hello <%=user%></h2>
			<a href="/signout">Sign Out</a>
		<% } else if ( provider == 'facebook' ) { %>
			<h2>Hello <%=fbName%></h2>
			<a href="/signout">Sign Out</a>
		<% } else { %>
		    <div class="row">
		    	<div class="col col-sm-3 col-sm-offset-3 reglogbutton">
		    		<a class="btn btn-lg btn-success" href="/register">Register</a>
		    	</div>
		    	<div class="col col-sm-3 reglogbutton">
		    		<a class="btn btn-lg btn-success" href="/login">Login</a>
		    	</div>
		    </div>
		<% } %>

		<section ng-view></section>

		<!--JavaScript Variables-->
		<script type="text/javascript">
			window.user = <%- user || 'null' %>;
		</script>

		<!-- Angular Files -->
		<script src="js/lib/angular/angular.min.js"></script>
		<script src="js/lib/angular/angular-route.min.js"></script>
		<script src="js/lib/angular/angular-animate.min.js"></script>
		<script src="js/lib/angular/angular-resource.min.js"></script>
		
		<!-- Bootstrap -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		
		<!-- Angular Modules/Services/Controllers/Routes -->
		<script src="js/modules/main/main.c.module.js"></script>
		<script src="js/modules/main/routes/main.c.routes.js"></script>
		<script src="js/modules/main/controllers/main.c.controller.js"></script>

		<!-- Angular App -->
		<script src="app.js"></script>

	</body>

</html>